article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'Inconsolata', monospace;
}
article > * {
    margin: 10px 0;
}

article h1, h2 {
    font-size: 16px;
    font-weight: 300;
    letter-spacing: 1.5px;
}
article a, a:visited {
    color: blue;
}


